html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: "Open Sans", sans-serif;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    height: 147px;
    backdrop-filter: blur(20px);
    background-color: rgba(222, 222, 222, 0.5);
}

.page-header__container, 
.about__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.page-header__logo {
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none;
}

.page-header__logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-header__nav {
    display: flex;
    gap: 50px;
}

.page-header__nav-link {
    color: #1f1e1e;
    font-weight: 600;
    font-size: 1.38;
    line-height: 25px;
    text-decoration: none;
    transition: color 0.2s;
}

.page-header__right-block {
    width: 202px;
}

.main {
    flex: 1 0 auto;
    background-color: blue;
}

.page-footer {
    flex: 0 0 auto;
    background-color: pink;
    height: 455px;
}

.btn {
    display: inline-flex;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1f1e1e;
    background-color: transparent;
    outline: none;
    color: #1f1e1e;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
}

.btn:hover{
    background-color: #1f1e1e;
    color: #ffffff;
}

.event {
    padding: 40px 0 150px;
}

.reserve {
    display: grid;
    grid-template-columns: 405px 1fr;
    gap: 65px 11%;
    grid-template-areas: 
     "checks scheme"
     "order legend" ;
    width: 100%;
}

.reserve__checks {
    grid-area: checks;
    background-color: yellow;
}

.reserve__scheme {
    grid-area: scheme;
    background-color: orange;
}

.reserve__order {
    grid-area: order;
    background-color: purple;
}

.reserve__legend {
    grid-area: legend;
    background-color: rgb(234, 95, 118)
}

.about__block2 {
    display: grid;
    grid-template-columns: 1fr 406px;
    gap: 90px 65px;
    grid-template-areas: 
    "pic pic2"
    "title pic2"
    "text text";
}

.about__picture {
    grid-area: pic;
}

.about__title {
    grid-area: title;
    margin: 10px 0 0;
    font-size: 44px;
    font-weight: 700;
}

.about__picture2 {
    grid-area: pic2;
    align-self: flex-end;
}

.about__text {
    grid-area: text;
    margin: 0 80px 0 auto;
    max-width: 870px;
    width: 100%;
}
